* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}



/* header */
.navbar {
    padding: 2vw 13vw;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px 0px rgb(217, 207, 207);

    /* border: 1px solid black; */
}

.nav-head {
    display: flex;
    gap: 2vw;
    font-size: 30px;
}

.nav-menu {
    display: flex;
    gap: 2vw;
    list-style: none;
    color: #3C354F;
    align-items: center;
    font-size: 16px;
}

a {
    text-decoration: none;
}

#sigma {
    display: flex;
    gap: 2vw;
    /* justify-content: space-evenly; */
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.2vw 1vw;
}

#one {
    color: #FF42A5;
}






/* bannar */






.bannar {
    margin-top: .4vw;
    /* padding: 50px 200px 22px 200px; */
    display: flex;
    /* flex-direction: column; */
    column-gap: 2.5vw;
    justify-content: space-between;
    /* background-color: #FFF; */
    background-image: url('../images/Group_14.png');
    background-repeat: no-repeat;
    padding: 4vw 13vw;
}

.banar-box1 {
    display: flex;
    flex-direction: column;
    gap: .8vw;
    padding-top: 5.5vw;

}

.descirption {
    color: #534C64;

}

.box-head1 {
    color: #0B0223;
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 39px;
    /* font-style: normal; */
    font-weight: 500;
    /* line-height: normal; */
    /* text-transform: uppercase; */
}

.box-head2 {
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 80px;
    /* font-style: normal; */
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.button1 {
    border-radius: 28px;
    background-color: #FF42A5;
    border: none;
    padding: 15px 30px;
    color: #FFF;
    font-size: 17px;
}

.button2 {
    background-color: #4EC5F7;
    border: none;
    border-radius: 28px;
    padding: 15px 30px;
    color: #FFF;
    font-size: 17px;
}

.banar-box2 {
    padding-bottom: 0px;
    width: 33vw;
    /* border: 1px solid black; */
}

.banar-box2 img {
    width: 100%;
    padding-bottom: 0px;
}




/* section */

.funny {
    margin: 5vw 13vw;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}
.funny-box img:hover{
    border: 5px solid #FF42A5;
    border-radius: 15px;
}

.funny-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
    /* align-items: center; */
    justify-content: center;

}

.funny-box {
    flex: 1;
    /* width: 300px */
}

.funny-box img {
    width: 100%;
}

.funny-title {
    color: #0B0223;


    font-size: 2.1vw;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */
}
.funny-title1{
    color: #FF42A5;


    font-size: 2.2vw;
    /* font-style: normal; */
    font-weight: 700;
}

#two {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description1 {

    color: #534C64;
    font-size: .9vw;
}



/* play */


.play {
    margin: 5vw 13vw 0vw 13vw;
    display: flex;
    justify-content: space-between;
    gap: 14vw;
    /* flex: 1; */
}

.content {
    /* border: 1px solid black; */
    width: 18vw;
    text-align: right;
    margin: 10vw 2vw 10vw 10vw;

}

.funny-title {
    color:black;


    font-size: 2.1vw;
    /* font-style: normal; */
    font-weight: 700;
}

.play-box img {
    width: 100%;
}

.play-box {
    width: 35vw;
}

.special {
    position: relative;
    width: 15vw;
    right: 7.8vw;
    bottom: 13.5vw;
}

.special img {
    width: 100%;
}

.description2 {
    color: #534C64;
    font-size: .9vw;
}




/* okkkkkk */

.grid{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 0;
    padding: 2vw 13vw ;
    /* border: 1px solid black; */
    background: #f6f5f5;

}
.gird-boxx1{
    display: flex;
    justify-content: space-between;
    
}
.gird-boxx2{
    display: flex;
    justify-content: space-around;
}
.gird-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 3vw;
    padding: .4vw;
    border-radius: 30px;
    background-color: #FFF;
    /* border: 1px solid black; */
}
.gird-box img{
    height: 100%;
}
.descirption3{
    
    font-size: 8px;
    font-weight: 600;
    padding-left: 2px;
}
.gird-box:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
}
.optimal{
    display: none;
}




/* dootee */
footer{
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8vw;
    padding-bottom: 8vw;
    gap: 2.5vw;
}
.footer1,.footer2,.footer3,.footer,.footer4{
    display: flex;
    gap: 2vw;
}

.footer h4{
    font-size: 15px;
    font-weight: 400;
}
.footer i:hover{
    cursor: pointer;
}
.des{
    color: rgba(255, 255, 255, 0.60);
/* text-align: center; */
/* font-family: Work Sans; */
font-size: 10px;
/* font-style: normal; */
font-weight: 500;
/* line-height: normal; */
}

@media screen and (max-width:576px) {
    .navbar,.nav-menu{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: none;
        gap: 3vw;
    }
    .navbar{
        padding-top: 8vw;
        padding-bottom: 5vw;
        
    }
    .bannar{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        background-image: none;
    }
    .banar-box2 {
        padding-bottom: 2vw;
        width: 74vw;
        /* font-size: 1vw; */
        /* border: 1px solid black; */
    }
    .box-head1{
        font-size: 8vw;
    }
    .box-head2{
        font-size: 17vw;
    }
    .banar-box1{
        align-items: center;
        justify-content: center;
        width: 76vw;
        gap: 2vw;
        background: url('../images/Group_14.png');
        background-size: cover;
        padding: 2vw .5vw;
    }
    a{
        font-size: .2vw;
    }
    .nav-menu{
        justify-content: center;
        align-items: center;
    }
    .descirption{
        font-size: .2vw;
    }

    .funny-container{
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .play{
        flex-direction: column;
        margin: 0;
    }
    .play-box{
        width: 74vw;
        margin: 1vw 13vw;
        /* border: 1px solid black;padding: 0; */
    }
    .content{
        width: 74vw;
    text-align: center;
    padding: 0;
    /* border: 1px solid black; */
    margin: 0vw;
    }
    .grid{
        display: none;
    }
    .optimal{
        padding: 2vw 13vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 4vw;
    }
    .gird-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22vw;
        height: 4vw;
        padding: .4vw;
        border-radius: 30px;
        background-color: #FFF;
        /* border: 1px solid black; */
    }
    .footer2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;

    }
    .footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
    }
    
    .footer1{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .footer4{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer{
        gap: 10vw;
    }
    .special {
        position: relative;
        width: 26vw;
        right: 9vw;
        bottom: 25vw;
    }
}